# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.map
log.txt
*.sublime-project
*.sublime-workspace
.vscode/*/**
npm-debug.log*

/compiled
*.metadata.json
~$*
.sourcemaps/
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
server/node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
working/
$RECYCLE.BIN/
src/environments/environment.ts

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.sourcemaps/main.js.map
$Recycle.Bin/S-1-5-21-2175850195-148873947-1488173980-1003/desktop.ini
